<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Панель управения администратора</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/admin.css">
</head>
<body>

<div class="mainContainer">
    <div class="title">
        Панель управления
        <div style="float: right;">
            <a href="/logout">Выйти</a>
        </div>
    </div>
    <div class="content">
        <ul>
            <li><a href="/common/info">Общая информация</a></li>
            <li><a href="/services/info">Услуги</a></li>
            <li><a href="/customers/info">Заказчики</a></li>
            <li><a href="/partners/info">Партнеры</a></li>
            <li><a href="/requisites/info">Реквизиты</a></li>
            <li><a href="/licenses/info">Лицензии и сертификаты</a></li>
            <li><a href="/history/info">История</a></li>
            <li><a href="/phones/info">Телефоны</a></li>
            <li><a href="/messengers/info">Мессенджеры</a></li>
            <li><a href="/addresses/info">Адреса</a></li>
            <li><a href="/pic/info">Картинки</a></li>
            <li><a href="/user/edit">Изменить пароль администратора</a></li>
        </ul>
    </div>
</div>

</body>
</html>