<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Вход для администратора</title>
    <link rel="stylesheet" href="../css/admin.css">
</head>
<style type="text/css">
    .home {
        background-color: #008CBA;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
</style>
<body>
<div class="mainContainer">
    <div class="content">
        <div style="height:100px;"></div>
        <div style="text-align: center; font-family: sans-serif;">Что-то пошло не так... Наши инженеры уже этим занимаются.</div>
        <div style="text-align: center;"><a class="home" href="/">На главную</a></div>
        <div style="height:100px;"></div>
    </div>
</div>
</body>
</html>