<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о партнере</title>
    <link rel="stylesheet" href="../css/admin.css">
    <link rel="stylesheet" href="../../css/admin.css">
</head>
<body>

<div class="mainContainer">

    <div class="title">
        <a href="/admin">Панель управления</a> / <a href="/partners/info">Партнеры</a> / Редактирование
    </div>

    <div class="content">
        <form th:action="${_action} == 'add' ? @{/partners/add} : @{/partners/update}"
              th:method="post"
              th:object="${data}">

            <input type="hidden" id="id" th:field="*{id}" />

            <div class="value">
                <label>Название: </label>
                <input type="text" id="name" th:field="*{name}" />
            </div>
            <div class="value">
                <label>Ссылка: </label>
                <input type="text" id="ref" th:field="*{ref}" />
            </div>

            <p>
                <input class="button" type="submit" value="Сохранить">
                <a class="button" th:if="${_action} != 'add'" th:href="@{/partners/{id}/delete(id=${data.id})}">Удалить</a>
            </p>
        </form>

    </div>

</div>



</body>
</html>